main {
    margin: 30px;
}

header {
    margin: 70px;
    text-align: center;
}

/* .headline {
    font-size: 70px;
}
*/

footer {
    font-size: 12px;
    text-align: center;
}

section {
    display: block;
}

/* Background image used from the CCS Airport*/
.maiquetia {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("");
    height: 800px;
    margin-top: -420px;
    margin-bottom: -300px;
    margin-right: -380px;
    margin-left: -370px;
}

.spacer {
    height: 300px;
}